body {
  margin: 0;
  background-color: #d6ffff;
  position: relative;
}

body h2 {
  font-size: 64px;
  font-family: garamond-premier;
  font-weight: 700;
  margin: 0;
  color: #005555;
}

body h4 {
  font-size: 50px;
  font-family: garamond-premier;
  font-weight: 700;
  margin: 0;
  color: #005555;
}

body h5 {
  font-family: garamond-premier;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  line-height: 0.8;
}

body h6 {
  font-family: segoe-ui;
  font-size: 24px;
  font-weight: 700;
  color: #005555;
  margin: 0;
}

body p {
  font-family: segoe-ui;
  font-size: 20px;
  font-weight: 400;
  color: #005555;
  margin: 0;
}

body .nav-menu {
  display: none;
  gap: 100px;
  justify-self: flex-end;
  padding: 20px;
  z-index: 20;
  position: fixed;
}

body .nav-menu #burger {
  position: absolute;
  top: 20px;
  left: 20px;
}

body .nav-menu #close {
  position: absolute;
  top: 23px;
  left: 160px;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body .nav-menu #close img {
  display: block;
}

body .nav-menu #close.open {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

body .nav-menu button {
  padding: 5px;
}

@media screen and (max-width: 900px) {
  body h4 {
    font-size: 40px;
  }
  body p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  body h2 {
    font-size: 50px;
  }
  body h4 {
    font-size: 30px;
  }
  body p {
    font-size: 14px;
  }
  body .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  padding: 15px 30px;
}

@media screen and (max-width: 900px) {
  header .navbar button {
    padding: 5px 30px;
  }
  header .navbar button p {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  header {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    right: unset;
    border-radius: 0px 20px 20px 20px;
  }
  header .navbar {
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  header .navbar button {
    padding: 10px 30px;
  }
  header .navbar button p {
    font-size: 24px;
  }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    width: 150px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
    padding: 30px;
  }
  header.open {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

main {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

main .home-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  max-width: 1500px;
  padding: 50px;
}

main .home-page .landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home-page .landing .logo {
  margin-top: -80px;
  border-radius: 400px;
  max-width: 400px;
}

main .home-page .landing .logo img {
  width: 100%;
  max-width: 400px;
}

main .home-page .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 100vh;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
}

main .home-page .about .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 700px;
  z-index: 1;
  position: relative;
  padding: 30px 30px 0 30px;
}

main .home-page .about .title-text .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffffc9;
  border-radius: 20px;
  z-index: 0;
  top: 55px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .home-page .about .title-text h4 {
  z-index: 2;
}

main .home-page .about .title-text p {
  z-index: 2;
}

@media screen and (max-width: 500px) {
  main .home-page .about .title-text {
    padding: 20px 20px 0 20px;
  }
  main .home-page .about .title-text .bg {
    top: 35px;
  }
}

main .home-page .order {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  min-height: 100vh;
}

main .home-page .order .jot-form-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

main .home-page .order .jot-form-wrap iframe {
  height: 100vh !important;
}

main .home-page .contact {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
  align-items: center;
}

main .home-page .contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main .home-page .contact .block {
  display: -ms-grid;
  display: grid;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

main .home-page .contact .block .bg {
  position: absolute;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  z-index: 0;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: #ffffff;
  border-radius: 20px;
}

main .home-page .contact .block .bg.one {
  left: 60px;
}

main .home-page .contact .block .bg.two {
  right: 60px;
}

main .home-page .contact .block .social-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 220px))[4];
      grid-template-columns: repeat(4, minmax(150px, 220px));
  gap: 30px;
}

main .home-page .contact .block .social-links .link {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

main .home-page .contact .block .social-links .link img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 220px;
}

main .home-page .contact .block .social-links .link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media screen and (max-width: 900px) {
  main .home-page .contact .block .social-links {
    -ms-grid-columns: (minmax(150px, 220px))[2];
        grid-template-columns: repeat(2, minmax(150px, 220px));
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: 500px) {
  main .home-page .contact .block .social-links {
    -ms-grid-columns: (minmax(100px, 150px))[2];
        grid-template-columns: repeat(2, minmax(100px, 150px));
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
}

main .home-page .section-header {
  display: -ms-grid;
  display: grid;
  justify-self: flex-start;
  background-color: #ffffffb3;
  margin-left: -60px;
  border-radius: 20px;
  padding-left: 60px;
}

main .home-page .section-header h2 {
  margin-top: -30px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  main .home-page {
    gap: 60px;
    padding: 20px;
  }
}

button {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: flex-start;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #005555;
}

button h5 {
  color: #ffffff;
}

button .line {
  width: 15px;
  height: 2px;
  background-color: #00e0e0;
  justify-self: flex-start;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button:hover {
  -webkit-box-shadow: 0 0 30px #0000001c;
          box-shadow: 0 0 30px #0000001c;
  color: #ffffff;
  background-color: #024444;
  -webkit-box-shadow: 0 0 0px 4px #00e0e0b3;
          box-shadow: 0 0 0px 4px #00e0e0b3;
}

button:hover .line {
  width: 100%;
}

button.active {
  background-color: #024444;
}

button.active .line {
  width: 100%;
}
/*# sourceMappingURL=styling.css.map */